### Q1 -  List Comprehensions

In [28]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    final_list =[]
    for i in range(1+x):
        for j in range(y+1):
            for k in range(1+z):
                if i+j+k!=n:
                    temp=[i,j,k]
                    final_list.append(temp)
                else:
                    continue
    print(final_list)

1
1
2
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

### Q2 - Find the Runner-Up Score!

In [29]:
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    arr.sort()
    max1=arr[-1]
    arr.sort(reverse=True)
    for x in arr:
        if x!=max1:
            result = x
            print(result)
            break

5
2 3 6 6 5
5

### Q3 - Nested Lists

In [32]:
if __name__ == '__main__':
    final_list =[]
    marks=[]
    for _ in range(int(input())):
        l= list()
        l.append(input())
        score = float(input())
        l.append(score)
        marks.append(score)
        final_list.append(l)
    marks.sort()
    min_value = marks[0]
    marks.remove(min_value)
    for i in marks:
        if i>min_value:
            Result_value = i
            break
    Result_names=[]
    for i in range(len(final_list)):
        if Result_value in final_list[i]:
            Result_names.append(final_list[i][0])
    Result_names.sort()
    for i in Result_names:
        print("Result : ",i)

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Result :  Berry
Result :  Harry

### Q4 - Finding the percentage

In [1]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    for i in student_marks:
        j = student_marks.get(i)
        if i==query_name:
            result = 0
            for k in j:
                result+= float(k)
            print("{:.2f}".format((result/len(j))))
            break
        else:
            continue

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00

### Q5- Lists

In [6]:
if __name__ == '__main__':
    lst = []
    N = int(input())
    for i in range(N):
        mn= list(input("").split(" "))
        
        if mn[0]=="insert":
            a , b = map(int , (mn[1],mn[2]))
            lst.insert(a,b)
            
        elif mn[0]=="print":
            print(lst)
            
        elif mn[0]=="remove":
                lst.remove(int(mn[1]))

        elif mn[0]=="append":
            lst.append(int(mn[1]))
            
        elif mn[0]=="sort":
            lst.sort()
        
        elif mn[0]=="pop":
            
            lst.pop()
        elif mn[0]=="reverse":
            lst.reverse()

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

### Q6 - Tuples

In [27]:
if __name__ == '__main__':
    n = int(input())
    integer_list = tuple(map(int, input().split()))
    print(hash(integer_list))

2
1 2
-3550055125485641917

### Q7- Introduction to Sets

In [1]:
def average(array):
    # your code goes here
    return (sum(set(array))/len(set(array)))
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

### Q8 - No Idea!

In [2]:
n , m = map(int , input("").split(" "))
n_list=list(map(int , input("").split(" ")))
Set_A=set(int(x) for x in input("").split(" "))
Set_B = set(int(x) for x in input("").split(" "))
result=0
for i in n_list:
    if i in Set_A:
        result+=1
    elif i in Set_B:
        result-=1
    elif i not in Set_B and i not in Set_A:
        pass
print(result)

3 2
1 5 3
3 1
5 7
1

### Q9- Symmetric Difference

In [3]:
M = int(input())
mset = set(map(int, input().split()))
N = int(input())
nset = set(map(int, input().split()))

mdef = mset.difference(nset)
ndef = nset.difference(mset)

output = mdef.union(ndef)

for i in sorted(list(output)):
    print(i)

4
2 4 5 9
4
2 4 11 12
5
9
11
12

### Q10- Set .add()

In [4]:
n=int(input(""))
s = set()
for i in range(n):
    m=input("")
    s.add(m)

print(len(s))

7
UK
China
USA
France
New Zealand
UK
France
5

### Q11- Set .discard(), .remove() & .pop()

In [5]:
n = int(input())
s = set(map(int, input().split(" ")))
m = int(input())
for i in range(0,m):
    x=list(input().split(" "))
    if x[0]=="pop":
        s.pop()
    elif x[0]=="remove":
        j = int(x[1])
        s.remove(j)
    elif x[0]=="discard":
        j = int(x[1])
        s.discard(j)
print(sum(s))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

### Q12 - Set .union() Operation

In [6]:
n1 = int(input(""))
ls1=set(map(int , input("").split(" ")))
n2 = int(input(""))
ls2=set(map(int , input("").split(" ")))
ma = set(ls1.union(ls2))
output =0
for i in ma:
    output+=1

output = str(output)
print(output)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

### Q13 - Set .intersection() Operation

In [7]:
n1 = int(input(""))
ls1=set(map(int , input("").split(" ")))
n2 = int(input(""))
ls2=set(map(int , input("").split(" ")))
ma = set(ls1.intersection(ls2))
output=0
for i in ma:
    output+=1
print(output)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

### Q14 - Set .difference() Operation

In [8]:
m = int(input(""))
ma = set(map(int , input("").split(" ")))
m1 = int(input(""))
ma1 = set(map(int , input("").split(" ")))
Final_Set = ma.difference(ma1)
output = 0
for i in Final_Set:
    output+=1
print(output)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

### Q15 - Set .symmetric_difference() Operation

In [9]:
a0 = int(input(""))
s = set(filter(int , input("").split(' ')))
a1 = int(input(""))
Final_Set = set(filter(int , input("").split(' ')))
SetA = s.symmetric_difference(Final_Set)
output = 0
for i in SetA:
    output+=1
print(output)

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

### Q16 - Set Mutations

In [10]:
n = int(input(""))
seta = set(map(int , input("").split(" ")))
j = int(input(""))
for i in range(j):
    ian = list(input().split())
    if ian[0]== "intersection_update":
        fi = set(int(x) for x in input('').split(" ")) 
        seta.intersection_update(fi)

    elif ian[0] == "symmetric_difference_update":
        fi = set(int(x) for x in input('').split(" "))
        seta.symmetric_difference_update(fi)

    elif ian[0] == "update":
        fi = set(int(x) for x in input('').split(" "))
        seta.update(fi)

    elif ian[0] == "difference_update":
        fi = set(int(x) for x in input('').split(" "))
        seta.difference_update(fi)
res = 0
for m in seta:
    res+=m
print(res)

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

### Q17- The Captain's Room

In [11]:
N = int(input())

storage = map(int, input().split())
storage = sorted(storage)

for i in range(len(storage)):
    if(i != len(storage)-1):
        if(storage[i]!=storage[i-1] and storage[i]!=storage[i+1]):
            print(storage[i])
            break;
    else:
        print(storage[i])

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8

### Q18 - Check Subset

In [12]:
def Subset(a,b):
    result = 0
    for i in a:
        if i in b:
            result = 1
        else:
            result = 0
            break
    return True if result == 1 else False# Using Ternary Operator

test_case = int(input(""))
for i in range(test_case):
    a= int(input(""))
    seta = set(int(x) for x in input().split(" "))
    b =int(input(""))
    setb = set(int(x) for x in input().split(" "))
    print(Subset(seta , setb))

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

### Q19 - Check Strict Superset

In [13]:
storage = set(input().split())
N = int(input())
output = True

for i in range(N):
    storage2 = set(input().split())
    if not storage2.issubset(storage):
        output = False
    if len(storage2) >= len(storage):
        output = False
        
print(output)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False